.b1{
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(70deg, #2c2c9a, purple);
  font-weight: bold;
}
.b1:hover{
  background: black;
  color: aliceblue;
  padding: 15px;
}
