.main-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto; /* Центровка и отступ */
  border-radius: 10px; /* Скруглённые углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
}
